In [42]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [69]:
from ISLP import load_data
college = load_data('College')
college.head()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [47]:
college.describe()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.00000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.46332
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.17771
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.00000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.00000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.00000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.00000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,118.00000

In [60]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Private      777 non-null    category
 1   Apps         777 non-null    int64
 2   Accept       777 non-null    int64
 3   Enroll       777 non-null    int64
 4   Top10perc    777 non-null    int64
 5   Top25perc    777 non-null    int64
 6   F.Undergrad  777 non-null    int64
 7   P.Undergrad  777 non-null    int64
 8   Outstate     777 non-null    int64
 9   Room.Board   777 non-null    int64
 10  Books        777 non-null    int64
 11  Personal     777 non-null    int64
 12  PhD          777 non-null    int64
 13  Terminal     777 non-null    int64
 14  S.F.Ratio    777 non-null    float64
 15  perc.alumni  777 non-null    int64
 16  Expend       777 non-null    int64
 17  Grad.Rate    777 non-null    int64
dtypes: category(1), float64(1), int64(16)
memory usage: 104.2 KB

In [65]:
# Input Variablen, alle ohne Apps
X = college.drop(['Apps'], axis=1)
y = college['Apps']
X['Private'] = X['Private'].map({'No': 0, 'Yes': 1}) 

# Split data into training and testing sets (using only training set for comparison)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Training Lineares Modell
lr_model = LinearRegression().fit(X_train, y_train)

y_test_pred = lr_model.predict(X_test)
y_train_pred = lr_model.predict(X_train)

mse_test_lr = mean_squared_error(y_test, y_test_pred)
mse_train_lr = mean_squared_error(y_train, y_train_pred)

print('Root MSE Test: ', np.sqrt(mse_test_lr))
print('Root MSE Train: ', np.sqrt(mse_train_lr))

# Extract coefficients for each model
lin_coeffs = pd.DataFrame(lr_model.coef_, index=X.columns, columns=['Linear Regression'])
# Add intercept
lin_coeffs.loc['Intercept'] = [lr_model.intercept_]
lin_coeffs

Root MSE Test:  1221.655998650623
Root MSE Train:  995.0406856856828

             Linear Regression
Private            -651.606978
Accept                1.665580
Enroll               -1.030623
Top10perc            51.706571
Top25perc           -14.992375
F.Undergrad           0.056473
P.Undergrad          -0.026297
Outstate             -0.071223
Room.Board            0.157684
Books                 0.112882
Personal              0.038790
PhD                 -10.422542
Terminal             -1.406325
S.F.Ratio             4.944358
perc.alumni          -0.517498
Expend                0.041142
Grad.Rate             8.563253
Intercept           -58.980160

In [66]:
# Redefining the scaler since it was lost in the previous steps
scaler = StandardScaler()

# Now standardizing the features
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

# Performing the regression models again

# ------------------------------------------
# 1. Linear Regression mit Skalierung
lr_scaled = LinearRegression().fit(X_train_scaled, y_train)

y_pred_lr_train = lr_scaled.predict(X_train_scaled)
y_pred_lr_test = lr_scaled.predict(X_test_scaled)

train_mse_lr_scaled = mean_squared_error(y_pred_lr_train, y_train)
test_mse_lr_scaled = mean_squared_error(y_pred_lr_test, y_test)

# ------------------------------------------
# 2. Ridge Regression

# Grid für mögliche Werte von Alpha definieren 
alpha_values = np.logspace(-3, 3, 100)

# Ridge Regression mit Cross-Validation
ridge_model_cv = Ridge()
ridge_params = {'alpha': alpha_values}

ridge_grid_search = GridSearchCV(ridge_model_cv, ridge_params, scoring='neg_mean_squared_error', cv=5)
ridge_grid_search.fit(X_train_scaled, y_train)

# Get the best ridge model and its alpha value
best_ridge_alpha = ridge_grid_search.best_params_['alpha']
best_ridge_model = ridge_grid_search.best_estimator_

# Predictions and errors using best ridge model
y_train_pred_ridge_cv = best_ridge_model.predict(X_train_scaled)
y_test_pred_ridge_cv = best_ridge_model.predict(X_test_scaled)

train_error_ridge_cv = mean_squared_error(y_train, y_train_pred_ridge_cv)
test_error_ridge_cv = mean_squared_error(y_test, y_test_pred_ridge_cv)

# ------------------------------------------
# Lasso Regression with Cross-Validation
lasso_model_cv = Lasso()
lasso_params = {'alpha': alpha_values}

lasso_grid_search = GridSearchCV(lasso_model_cv, lasso_params, scoring='neg_mean_squared_error', cv=5)
lasso_grid_search.fit(X_train_scaled, y_train)

# Get the best lasso model and its alpha value
best_lasso_alpha = lasso_grid_search.best_params_['alpha']
best_lasso_model = lasso_grid_search.best_estimator_

# Predictions and errors using best lasso model
y_train_pred_lasso_cv = best_lasso_model.predict(X_train_scaled)
y_test_pred_lasso_cv = best_lasso_model.predict(X_test_scaled)

# MSE
train_error_lasso_cv = mean_squared_error(y_train, y_train_pred_lasso_cv)
test_error_lasso_cv = mean_squared_error(y_test, y_test_pred_lasso_cv)


# Extract coefficients for each model
lin_coeffs = pd.DataFrame(lr_scaled.coef_, index=X_test.columns, columns=['Linear Regression'])
ridge_coeffs = pd.DataFrame(best_ridge_model.coef_, index=X_test.columns, columns=['Ridge Regression'])
lasso_coeffs = pd.DataFrame(best_lasso_model.coef_, index=X_test.columns, columns=['Lasso Regression'])

# Combine the coefficients for comparison
coeffs_comparison = pd.concat([lin_coeffs, ridge_coeffs, lasso_coeffs], axis=1)

coeffs_comparison

             Linear Regression  Ridge Regression  Lasso Regression
Private            -287.818377       -287.817226       -287.816743
Accept             4103.246199       4103.189408       4103.232227
Enroll             -903.130469       -903.053879       -903.088034
Top10perc           910.378928        910.360111        910.367903
Top25perc          -295.744254       -295.730623       -295.734245
F.Undergrad         257.672173        257.648341        257.641259
P.Undergrad         -33.495616        -33.495844        -33.491951
Outstate           -285.927529       -285.921770       -285.923576
Room.Board          175.589727        175.592606        175.587797
Books                18.611750         18.611999         18.611441
Personal             25.406019         25.404921         25.404884
PhD                -171.368182       -171.365599       -171.366056
Terminal            -21.158404        -21.159936        -21.158004
S.F.Ratio            19.520550         19.520767         19.518609
perc.alumni          -6.297991         -6.302496         -6.298346
Expend              216.757437        216.760208        216.755037
Grad.Rate           150.647927        150.649956        150.645447

In [67]:
# Displaying the MSE values and coefficient comparison to the user
mse_values = {
    'Model': ['Linear Regression', 'Ridge Regression', 'Lasso Regression'],
    'Training RMSE': [np.sqrt(train_mse_lr_scaled), np.sqrt(train_error_ridge_cv), np.sqrt(train_error_lasso_cv)],
    'Test RMSE': [np.sqrt(test_mse_lr_scaled), np.sqrt(test_error_ridge_cv), np.sqrt(test_error_ridge_cv)]
}

mse_df = pd.DataFrame(mse_values)
mse_df

               Model  Training MSE     Test MSE
0  Linear Regression    995.040686  1309.412738
1   Ridge Regression    995.040686  1309.405511
2   Lasso Regression    995.040686  1309.405511